@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');

body {
    margin: 0;
}

/* Header/Nav Bar */
section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 18, 101);
    color: lightblue;
    border-radius: 0px;
    font-family: "Indie Flower", cursive;
    top: 0;
    position: sticky;
}
#title {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
}
h3 {
    font-size: 40px;
    text-align: center;
}

i {
    margin: 0 10px;
    font-size: 50px;
    color: white;
    background-color: rgb(62, 18, 101);
}
/* Links */
#links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 10px;
    margin-right: 40px;
}

/* Contact Info */
#contact {
    display: flex;
    align-items: flex-start;
    color: white;
}
h4 {
    margin: 0;
    font-size: 30px;
}
a {
    font-size: 30px;
    color: white;
}

/* Services/About Me */
#services {
    display: flex;
    color: white;
}
#aboutme {
    display: flex;
    color: white;
}

/* Main Page */

section:nth-of-type(2) {
    font-family: "Indie Flower", cursive;
    color: lightblue;
}
h1 {
    font-size: 75px;
    text-align: center;
    color: lightblue;
    margin-top: 250px;
}
h2 {
    font-size: 45px;
    text-align: center;
    color: white;
}

body{
    margin: 0;
    background-image: url("cleaning-washing-cleanup-9420d2-1024.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
}
