@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');
body {
    font-family: "Indie Flower", cursive;
    background-color: rgb(62, 18, 101);
    color: white;
    font-size: 20px;
}
a {
    color: lightblue;
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
}